body {
  font-family: "Times New Roman", Times, serif;
  color: rgb(133, 28, 21);
  background-image: url("images/sky.jpg");
}

html,

.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.btn{
	padding: 15px 35px;
	background: transparent;
	outline: none;
	border: 2px solid rgb(133, 28, 21);
	font-weight: normal;
  cursor: pointer;
  border-color: rgb(133, 28, 21);
  color: rgb(133, 28, 21);
}